## Assignment 1- Submited by Name Abhishek Mukherjee

#### Q1:  What are the characteristics of the tuples? Is tuple immutable?

#### A1: Tuples are ordered, can be indexed or iterated and are imutable hence its content cannot be changed unlike a list. They can also contain duplicate items unlike sets.

#### Q2 What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists
#### A2 Tuples have two built in methods index() and count(). You can iterate through a tuple through indexing and also count a specific item appearing in the tuple through count. However since they are immutable their contents cant be changed like list hence they have only 2 built-in methods.

In [13]:
##Tuple examples
Assignment_tuple = (1,3,5,7,9,10,11,12,13,4,5,6,71,3,23,3,4,5,2,1,3,1,3,4,5,1,5,3)
##returns the numbers of times an item appears in a Tuple
Assignment_tuple.count(3)

6

In [14]:
##iterating within a tuple
for i in Assignment_tuple:
    if(int(i)%2==0):
        print(i)

10
12
4
6
4
2
4

#### Q3 Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list.
#### List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
#### A3 Sets do not allow duplicate items

In [16]:
##removing duplicate items from the list

In [54]:
List= [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
set1=set(List)
set1

{1, 2, 3, 4}

#### Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.
#### A4 Union combines the two sets and update also does the same, however you cant save update results to a third set

In [58]:
### union example
set1= {"name", "class", "age"}
set2= {"Abhishek", "DSM", "38", "name"}
set3 = set2.union(set1)
set3

{'38', 'Abhishek', 'DSM', 'age', 'class', 'name'}

In [72]:
### update example
set1= {"name", "class", "age"}
set2= {"Abhishek", "DSM", "38", "name"}
set1.update(set2)
set1

{'38', 'Abhishek', 'DSM', 'age', 'class', 'name'}

#### Q5 What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

#### A5 Dictionary is collection of key value pairs, doesnt allow for duplicate items. They are generally an ordered collection.

In [76]:
### dictionary example
dict1={"name": "Abhishek", "age": "37"}
dict1

{'name': 'Abhishek', 'age': '37'}

####  Q6 Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.
#### A6 Yes we can create a nest dictionary

In [82]:
### nested dictionary example
dict2= {"class": "DSM", "Year": "2023","Subjects":{"Python", "PowerBi", "MachineLearning"}}
dict2

{'class': 'DSM',
 'Year': '2023',
 'Subjects': {'MachineLearning', 'PowerBi', 'Python'}}

####  Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']
#### dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [99]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault("Chapter1", "Machine Learning")
dict1.setdefault("Chapter2", "Deep Learning")
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'Chapter1': 'Machine Learning',
 'Chapter2': 'Deep Learning'}

#### Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary.
#### A8 The the three view objects are keys displays all keys, items displays all items and values and values displays all values only

In [102]:
### built in methods to display three view objects

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [103]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [104]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])