In [1]:
### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
import pandas as abhi

list1=[4,8,15,16,23,42]

print(abhi.Series(list1))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
### Q2 Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [6]:

import pandas as abhi

list1=list([4,8,15,16,23,42,12,12,141,51])

print(abhi.DataFrame(list1))

     0
0    4
1    8
2   15
3   16
4   23
5   42
6   12
7   12
8  141
9   51

In [ ]:
### Q3 Create a Pandas DataFrame that contains the following data:

In [8]:
import pandas as abhi

data=[{"Name": "Alice", "Age":25, "Gender":"Female"},
      {"Name": "Bob", "Age":30, "Gender":"Male"},
      {"Name": "Claire", "Age":27, "Gender":"Female"}]

print(abhi.DataFrame(data))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
##Q4 What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
## A4 A DataFrame is a data structure that can store data of different types such as characters, integers etc. in a row- columns schema. Each column is stored as a series
### The main difference that a DataFrame is a collection of one or more Series, whereas a Series is just a single vertical list with an index starting from 0

In [29]:
### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

### A5 The common functions are drop(): which allows to remove one or more rows or columns from a DataFrame
### rename(): allows to change the names of one or more rows or columns in a DataFrame
### merge(): This function allows to combine two DataFrames based on common values in one or more columns
### groupby(): This function allows to split the data into groups based on some criteria and apply some aggregation or transformation function to each group

#example of rename()

import pandas as abhi

data=[{"Name": "Alice", "Age":25, "Gender":"Female"},
      {"Name": "Bob", "Age":30, "Gender":"Male"},
      {"Name": "Claire", "Age":27, "Gender":"Female"}]

df= abhi.DataFrame(data)
print(df)
##rename of name column to first name
df= df.rename(columns={"Name":"FirstName"})
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
  FirstName  Age  Gender
0     Alice   25  Female
1       Bob   30    Male
2    Claire   27  Female

In [ ]:
### Q6 Which of the following is mutable in nature Series, DataFrame, Panel?

#### A7 DataFrame and Panel are mutable in nature for example you can update the column names or data in Dataframe

In [28]:
### Q7. Create a DataFrame using multiple Series. Explain with an example.
##combining two series together with axis = 1 so that the merge happens at column level

import pandas as pd

series1 = pd.Series([1,2,3,4],index=['a','b','c','g'])
series2 = pd.Series([4,5,6,7],index=['a','d','e','f'])

df = pd.concat([series1, series2], axis=1)
print(df)

     0    1
a  1.0  4.0
b  2.0  NaN
c  3.0  NaN
g  4.0  NaN
d  NaN  5.0
e  NaN  6.0
f  NaN  7.0