In [1]:
## Q1. List any five functions of the pandas library with execution.

In [4]:
## A1 Five functions of Panda Library

##head() returns the first (n) rows of a DataFrame or Series
## tail() returns the last (n) rows of a Dataframe or a series
## describe() returns the count, mean, std,max, min 25%,50%,75% of a numerical column
##info() prints a summary of a DataFrameâ€™s columns, data types and memory usage
##value_counts() counts the frequency of each unique value in a Series
##sort_values() sorts a DataFrame or Series by one or more columns in ascending or descending order
## example 

# Import pandas library
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({"name": ["Alice", "Bob", "Charlie", "David", "Eve"],
                   "age": [25, 30, 35, 40, 45],
                   "gender": ["F", "M", "M", "M", "F"],
                   "city": ["New York", "Los Angeles", "Chicago", "Houston", "Seattle"]})

# Print the first 3 rows of df
print(df.head(3))

      name  age gender         city
0    Alice   25      F     New York
1      Bob   30      M  Los Angeles
2  Charlie   35      M      Chicago

In [3]:
# Print the last 3 rows of df
print(df.tail(3))

      name  age gender     city
2  Charlie   35      M  Chicago
3    David   40      M  Houston
4      Eve   45      F  Seattle

In [5]:
# Print the numerical parameters of age column
print(df.describe())

             age
count   5.000000
mean   35.000000
std     7.905694
min    25.000000
25%    30.000000
50%    35.000000
75%    40.000000
max    45.000000

In [6]:
# Print the type of columns in a dataframe
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   age     5 non-null      int64
 2   gender  5 non-null      object
 3   city    5 non-null      object
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes
None

In [10]:
##value_counts() counts the frequency of each unique value in a Series
print(df.value_counts())

name     age  gender  city
Alice    25   F       New York       1
Bob      30   M       Los Angeles    1
Charlie  35   M       Chicago        1
David    40   M       Houston        1
Eve      45   F       Seattle        1
dtype: int64

In [13]:
##sort_values() sorts a DataFrame with ascending order from name value
print(df.sort_values("name"))

      name  age gender         city
0    Alice   25      F     New York
1      Bob   30      M  Los Angeles
2  Charlie   35      M      Chicago
3    David   40      M      Houston
4      Eve   45      F      Seattle

In [1]:
### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [17]:
# Import pandas library
import pandas as pd

data= {"A":[1,2,3,4,5],"B":[7,8,9,10,15], "C":[11,12,13,14,15]}

df= pd.DataFrame(data)
print("Original Example \n")
print(df)
# Setting the new index
new_index = pd.RangeIndex(start=1, stop=len(df)*2+1, step=2)
print("Re-Indexed Example \n")
df1=df.set_index(new_index)
print(df1)

Original Example

   A   B   C
0  1   7  11
1  2   8  12
2  3   9  13
3  4  10  14
4  5  15  15
Re-Indexed Example

   A   B   C
1  1   7  11
3  2   8  12
5  3   9  13
7  4  10  14
9  5  15  15

In [ ]:
##Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
##iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
##function should print the sum to the console.

In [26]:
# Import pandas library
import pandas as pd

data= {"Index":[1,2,3,4,5],"Values":[10,20,30,40,50]}

df1 =pd.DataFrame(data)

print("Original DataFrame")
print(df1)
print("\n")

print("The sum of values column for first 3 entries")
df2=df1['Values'].head(3).sum()
print(df2)

Original DataFrame
   Index  Values
0      1      10
1      2      20
2      3      30
3      4      40
4      5      50


The sum of values column for first 3 entries
60

In [27]:
### Q4 Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [41]:
# Import pandas library
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({"name": ["Alice", "Bob", "Charlie", "David", "Eve"],
                   "age": [25, 30, 35, 40, 45],
                   "gender": ["F", "M", "M", "M", "F"],
                   "city": ["New York", "Los Angeles", "Chicago", "Houston", "Seattle"]})
#Adding two new columns to calculate word count and character count (without spaces)

df['WordCount_City']=df['city'].apply(lambda x:len(str(x).split(' ')))
df['Charactercount_City']=df['city'].apply(lambda x:len(x.replace(" ","")))

print(df)

      name  age gender         city  WordCount_City  Charactercount_City
0    Alice   25      F     New York               2                    7
1      Bob   30      M  Los Angeles               2                   10
2  Charlie   35      M      Chicago               1                    7
3    David   40      M      Houston               1                    7
4      Eve   45      F      Seattle               1                    7

In [ ]:
## Q5. How are DataFrame.size() and DataFrame.shape() different?

## A5. DataFrame.size() returns the number of elements in the DataFrame, which is equal to the number of rows multiplied by the number of columns. DataFrame.shape() returns a tuple of the number of rows and columns in the DataFrame

In [44]:
## examples of both

import pandas as pd

data= {"Index":[1,2,3,4,5],"Values":[10,20,30,40,50]}

df1 =pd.DataFrame(data)

print(df1.size)
print(df1.shape)

10
(5, 2)

In [ ]:
## Q6. Which function of pandas do we use to read an excel file?

## A6 we usd read.excel() method is utilised to an excel file. This method supports various file extensions such as xls, xlsx, xlsm, xlsb, odf, ods and odt

In [48]:
### You have a Pandas DataFrame df that contains a column named 'Email' that contains email
##addresses in the format 'username@domain.com'. Write a Python function that creates a new column
##'Username' in df that contains only the username part of each email address.

# Import pandas library
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({"name": ["Alice", "Bob", "Charlie", "David", "Eve"],
                   "age": [25, 30, 35, 40, 45],
                   "gender": ["F", "M", "M", "M", "F"],
                   "city": ["New York", "Los Angeles", "Chicago", "Houston", "Seattle"],
                     "email":["auser@gmail.com","buser@gmail.com", "cuser@gmail.com","duser@gmail.com", "euser@gmail.com"]})
# creating a new column called username with only usernames extracted from email Ids

df['Username']=df['email'].apply(lambda x:str(x).split('@')[0])

print(df)

      name  age gender         city            email Username
0    Alice   25      F     New York  auser@gmail.com    auser
1      Bob   30      M  Los Angeles  buser@gmail.com    buser
2  Charlie   35      M      Chicago  cuser@gmail.com    cuser
3    David   40      M      Houston  duser@gmail.com    duser
4      Eve   45      F      Seattle  euser@gmail.com    euser

In [ ]:
###Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
##all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
##function should return a new DataFrame that contains only the selected rows.

In [64]:
# Import pandas library
import pandas as pd

data= {"A":[3,8,6,2,9],"B":[5,2,9,3,1],"C":[1,7,4,5,2]}
df1 =pd.DataFrame(data)
print("Original DataFrame")
print(df1)
print("\n")

# Finding the the values in Column A greater than 5 and in Column B <10 it returns 3 rows 1,2,4
print("Final DataFrame")
df2=df1.loc[(df1['A']>5) & (df1['B']<10)]
print(df2)

Original DataFrame
   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2


Final DataFrame
   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [72]:
pip install lxml

Requirement already satisfied: lxml in /opt/conda/lib/python3.10/site-packages (4.9.2)
Note: you may need to restart the kernel to use updated packages.

In [12]:
##Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
## median, and standard deviation of the values in the 'Values' column.

# Import pandas library
import pandas as pd
# Create a sample DataFrame
data= {"Index":["A","B","C","D","E"],"Values":[10,21,30,40,50]}

df= pd.DataFrame(data)

print("Mean Value for Values Column is :" + str(df['Values'].mean()))
print("Median Value for Values Column is :" + str(df['Values'].median()))
print("Standard Deviation for Values Column is :" + str(df['Values'].std()))

Mean Value for Values Column is :30.2
Median Value for Values Column is :30.0
Standard Deviation for Values Column is :15.658863304850707

In [31]:
### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
##create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
##for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
##should include the current day.

# Import pandas library
import pandas as pd
# Create a sample DataFrame
df= pd.read_csv("https://raw.githubusercontent.com/jbrownlee/Datasets/master/monthly_champagne_sales.csv")
print("Original DataFrame")
print(df)
print("\n Seven Day Moving Average")
# Calculate 7 Day Moving Average
df['7-Day Moving Average']=df['Sales'].rolling(window=7).mean()
print(df['7-Day Moving Average'])

Original DataFrame
       Month  Sales
0    1964-01   2815
1    1964-02   2672
2    1964-03   2755
3    1964-04   2721
4    1964-05   2946
..       ...    ...
100  1972-05   4618
101  1972-06   5312
102  1972-07   4298
103  1972-08   1413
104  1972-09   5877

[105 rows x 2 columns]

 Seven Day Moving Average
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
          ...
100    6345.142857
101    5696.714286
102    4500.714286
103    4081.428571
104    4411.857143
Name: 7-Day Moving Average, Length: 105, dtype: float64

In [23]:
##Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
##column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
##Monday, Tuesday) corresponding to each date in the 'Date' column.

data = ["2023-01-01","2023-01-02","2023-01-03","2023-01-04","2023-01-05"]
# Import pandas library
import pandas as pd
from datetime import datetime, timedelta
# Create a sample DataFrame
df=pd.DataFrame(data)
# Convert data into date time
df[0]= pd.to_datetime(df[0])
# adding a column called day of the week
df['Day of the Week']=df[0].dt.strftime('%A')
print(df)

           0 Day of the Week
0 2023-01-01          Sunday
1 2023-01-02          Monday
2 2023-01-03         Tuesday
3 2023-01-04       Wednesday
4 2023-01-05        Thursday

In [25]:
##Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
##function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

# Import pandas library
import pandas as pd
from datetime import datetime, timedelta
def selectrowforjanuary(df):
  # convert date column to datetime object
  df['Date'] = pd.to_datetime(df['Date'])
  # filter the dates based on criteria
  df = df.loc[(df['Date'] > '2023-01-01') & (df['Date'] <= '2023-01-31')]
  # select rows that match the 
  return df

In [ ]:
## Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

###A13 Pandas library should be imported first for the basic functions to be operated including data manipulation in a dataframe