In [1]:
### Q1. What is a database? Differentiate between SQL and NoSQL databases.

### A1 A database is a collection of information or data stored on a server. Data may be structure, semi-strctured or unstructured. There are two types of databases SQL which are relationtional databases and a fixed schema while NoSQL which are primarily used to store semi-structure or unstructured data dont have a fixed schema. The No SQL DBs are know for their peformance and acceptance of semi/unstructured data.

In [2]:
### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
### A2 The data defintion language helps your define or update your database and the underlying charactersitics including table, rows and columns in a SQL Database.
### CREATE is used to create a new table. Example  CREATE TABLE Mytable (Roll_Num int, LastName varchar(255), FirstName varchar(255))
###DROP is used to delete an existing table. For example: DROP TABLE Mytable
###ALTER is used to modify an existing table. For example: ALTER TABLE Persons ADD COLUMN Age int;
### TRUNCATE is used to remove all records from a table. For example: TRUNCATE TABLE Persons;

In [2]:
### Q3 What is DML? Explain INSERT, UPDATE, and DELETE with an example.
### A3 The data manipulation language is used to store, modify, retrieve, delete, and update data in a database

### Insert is used to insert data into a table which is also called a new row: INSERT INTO Mytable (Roll_Num, LastName, FirstName) VALUES (101, 'Mukherjee', 'Abhishek')
### Update is used to update data in a table based on a primary key UPDATE Mytable SET LastName = 'Jones' WHERE Roll_Num = 101
### Delete is used delete a row in a table Delete from Mytable where Roll_Num-101

In [ ]:
### Q4 What is DQL? Explain SELECT with an example.
### A4 The data query language is used to retrieve data from a table or a database 
### SELECT statement is used retrieve all the data from MyTable: SELECT * FROM Mytable

In [3]:
## Q5. Explain Primary Key and Foreign Key.
## A5 Primary Key is the unique identifier in a table which helps identify a data row in a table, Foreign Key used to connect one entity/table in a database to another entity/table in the database. This is also called entity relationship

In [14]:
## Q6 Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
## A6 A cursor is an object that allows the code to execute commands in a database session and Execute is an object helps to execute the query and return records according to the query parameters or conditions
#import the library. This code doesnt work from Jupyternotebook but from the Python file directly
# import mysql.connector
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
print(mycursor)
mycursor.execute("insert into Testdb.Mytable values (102, 'John', 'Simon')")
mydb.commit()
mydb.close()

In [ ]:
### Q7 Give the order of execution of SQL clauses in an SQL query.
### A7 It is the sequence in which the database processes different parts of the query to produce the final result
### The order is : FROM clause, ON clause, OUTER clause, WHERE clause, GROUP BY clause, HAVING clause, SELECT clause, DISTINCT clause, ORDER BY clause