In [ ]:
### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?
### A1 MongoDB is a document-oriented database that stores data in JSON-like documents with undefined schema. It is a type of non-relational database, which means it does not use tables or rows to organize data.
### A1 Unlike SQL, MongoDB can handle large unstructured datasets with dynamic schemas.

In [ ]:
###Q2 State and Explain the features of MongoDB.

### A2: MongoDB is an open source, nonrelational database management system that uses flexible documents instead of tables and rows
### Supports ad hoc queries
### Indexing: You can index any field in a document unlike in SQL
### MongoDB supports Master Slave replication for data availability and stability, Slaves could be read replicas

In [ ]:
### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.
### Q4 Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [ ]:
### A3- Install pymongo, create table and collections

In [4]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo
testclient= pymongo.MongoClient("mongodb+srv://abhi12:Abhi7890@abhishek.vax5jjp.mongodb.net/?retryWrites=true&w=majority")
db=testclient.test
testclient
db=testclient['MyTable']
print(db)
coll_test=db["MyPersonalDetail"]
print(coll_test)
a={"name":"John",
   "age":31,
    "Salary":25000}
print(a)

Database(MongoClient(host=['ac-dh2tvvx-shard-00-02.vax5jjp.mongodb.net:27017', 'ac-dh2tvvx-shard-00-01.vax5jjp.mongodb.net:27017', 'ac-dh2tvvx-shard-00-00.vax5jjp.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-ss9uc9-shard-0', tls=True), 'MyTable')
Collection(Database(MongoClient(host=['ac-dh2tvvx-shard-00-02.vax5jjp.mongodb.net:27017', 'ac-dh2tvvx-shard-00-01.vax5jjp.mongodb.net:27017', 'ac-dh2tvvx-shard-00-00.vax5jjp.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-ss9uc9-shard-0', tls=True), 'MyTable'), 'MyPersonalDetail')
{'name': 'John', 'age': 31, 'Salary': 25000}

In [3]:
### A4- Insert a few records
coll_test.insert_one(a)

In [4]:
b={"name":"Abhishek",
   "age":38,
    "Salary":15000}
coll_test.insert_one(b)

In [6]:
### A4- Insert many records at once
list1=[{"name":"ABC",
   "age":32,
    "Salary":25000},{"name":"XYZ",
   "age":28,
    "Salary":18000},{"name":"BUI",
   "age":32,
    "Salary":30000}]
coll_test.insert_many(list1)

In [7]:
### A4-find_one method to retrieve the first record

coll_test.find_one()

{'_id': ObjectId('63f268519f956c0181f26afc'),
 'name': 'John',
 'age': 31,
 'Salary': 25000}

In [8]:
### A4-Find method to retrieve the multiple records at one go

for item in coll_test.find():
    print(item)

{'_id': ObjectId('63f268519f956c0181f26afc'), 'name': 'John', 'age': 31, 'Salary': 25000}
{'_id': ObjectId('63f2688e9f956c0181f26afd'), 'name': 'Abhishek', 'age': 38, 'Salary': 15000}
{'_id': ObjectId('63f2701729a4a880d690c22b'), 'name': 'ABC', 'age': 32, 'Salary': 25000}
{'_id': ObjectId('63f2701729a4a880d690c22c'), 'name': 'XYZ', 'age': 28, 'Salary': 18000}
{'_id': ObjectId('63f2701729a4a880d690c22d'), 'name': 'BUI', 'age': 32, 'Salary': 30000}

In [ ]:
#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [11]:
### Selecting the Json document based on a condition passed in the find method 
for item in coll_test.find({"name":"ABC"}):
    print(item)

{'_id': ObjectId('63f2701729a4a880d690c22b'), 'name': 'ABC', 'age': 32, 'Salary': 25000}

In [15]:
## Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
## A6. The sort() method specifies the order in which a query returns the matching documents from a collection as show in below code

##  The sorting order in MongoDB is defined by either 1 (ascending) or -1 (descending)2, let us try to find the values in a collection in order of name
for item in coll_test.find().sort("age"):
    print(item)

{'_id': ObjectId('63f2701729a4a880d690c22c'), 'name': 'XYZ', 'age': 28, 'Salary': 18000}
{'_id': ObjectId('63f268519f956c0181f26afc'), 'name': 'John', 'age': 31, 'Salary': 25000}
{'_id': ObjectId('63f2701729a4a880d690c22b'), 'name': 'ABC', 'age': 32, 'Salary': 25000}
{'_id': ObjectId('63f2701729a4a880d690c22d'), 'name': 'BUI', 'age': 32, 'Salary': 30000}
{'_id': ObjectId('63f2688e9f956c0181f26afd'), 'name': 'Abhishek', 'age': 38, 'Salary': 15000}

In [ ]:
## Q7 Explain why delete_one(), delete_many(), and drop() is used.

In [ ]:
## delete_one(): It deletes a single document(generally the first one) from the collection that meets the condition specified in the query.
##delete_many(): It deletes all the documents from the collection that meet the condition specified in the query.
##drop(): It drops or deletes an entire collection or an index.